
/* IMPORTANDO FUENTES */

@font-face
{
    font-family: "Lato";
    src: url(./fonts/Lato/Lato-Light.ttf);
}

@font-face
{
    font-family: "Roboto";
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
}
/* ---- reset ---- */

body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    position: relative;
}

canvas {
    display: block;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats, .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

/* UTILIDADES */
img
{
    max-width: 100%;
}
.contenedor
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;

    z-index: 1;
}

textarea {
    width: 100%;
    height: 200px;
    margin: 20px 0;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    background-color: green;
}

th, td {
    padding: 10px;
    border: 1px solid whitesmoke;
    color: whitesmoke;
}

#generateButton {
    background-color: blue;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

#generateButton:hover {
    background-color: darkblue; /* Cambia de color al pasar el ratón */
}

/* MIS ESTILOS */

.containerHeader
{
    height: 100vh;
    background-color: blue;
    background: linear-gradient( 90deg , #3a47d5 0% , #00d2ff 100% );
    display: flex;
    justify-content: center; 
    align-items: center;
}
.containMain
{
    background-color: rgb(128, 128, 128, 0.5);
    border-radius: 15px;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    position: static;
}

.Container_Generate {
    background-color: rgb(128, 128, 128, 0.5);
    border-radius: 15px;
    margin: 20px auto;
    width: fit-content;
    padding: 20px;
    text-align: center;
}

#chiSquare {
    background-color: #3a47d5;
    padding: 7px;
    margin: 7px;
    border-radius: 10px;
    font-size: medium;
    font-style: oblique;
    color: antiquewhite;
}


/* NAVEGACION */

nav
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 5rem;
    padding: .5rem 0;
    z-index: 1;
}
nav .contenedor-nav 
{
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 150px;
    margin-right: 10px;
}

.contenedor-nav .containerL
{
    display: inherit;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

